@media ( max-width: 1200px){
    .container {
        max-width: 900px;
    }
}



@media ( max-width: 992px){
    .container {
        max-width: 850px;
    }
    .consultation {
        min-height: 600px;
        padding: 50px 0;
    }
    .carousel{
        &__inner img {
        width: 60%;
        margin: 0 auto;
        }
        .slick-dots {
        display: flex;
        justify-content: center;
        align-items: center;
        }
        .slick-dots li {
        list-style: none;
        margin: 0 10px;
        }
        .slick-dots button {
        font-size: 0;
        width: 10px;
        height: 10px;
        background-color: black;
        border-radius: 50%;
        border: none;
        padding: 0;
        }
        .slick-dots li.slick-active button {
        background-color: $main-color;
        width: 12px;
        height: 12px;
        }
    }
    .catalog {
        &__content {
            justify-content: space-around;
        }
        &-item {
            img {
                height: 150px;
            }
            hr {
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
    }
}

@media ( max-width: 767px  ) {
    .container {
        max-width: 720px;
    }
    .promo {
        &__wrapper {
            margin-top: 20px;
        }
        &__header {
            margin-top: 15px;
            font-size: 30px;
        }
        &__subheader {
            margin-top: 0;
            font-size: 17px;
        }
        &__link {
            font-size: 15px;
        }
        &__official{
            display: none;
        }
    }
    .header {
        &__official span {
                font-size: 17px;
        }
        &__phone {
            font-size: 17px;
        }

        }
    .button_main {
        width: 250px;
        height: 40px;
    }
    .advantages {
        &__item {
            max-width: 207px;
        }
        &__subtitle {
            font-size: 16px;
        }
        &__descr {
            font-size: 13px;
            }
        }
    .title {
        font-size: 27px;
        }
    .consultation__descr {
        margin-top: 60px;
    }
    .carousel {
        padding: 40px 0;
    }
    .catalog {
        padding-bottom: 30px;
        &__tabs {
            margin-top: 40px;
        }
        &__tab {
            font-size: 15px;
        }
        &__content {
            margin-top: 40px;
        }  
    }
    .feed {
        &__item {
            margin-top: 30px;
        }
        &__text {
            margin-left: 40px;
            margin-right: 40px;
        }
    }
}

@media ( max-width: 576px  ){
    .container {
        max-width: 500px;
    }
    .header {
        &__official {
            display: none;
        }
    }
    .header {
        &__phone {
            font-size: 16px;
        }

        }
    .button {
        font-size: 11px;
    }
    .promo {
        &__header {
            font-size: 25px;
        }
        &__subheader {
            font-size: 16px;
        }
        &__link {
            margin-top: 40px;
        }  
        &__icons {
            max-width: 390px;
        }
        &__official {
            display: block;
        }
        &__wrapper button {
            margin-top: 30px;
        }
    }
    .title {
        font-size: 25px;
        }
    .advantages {
        padding: 45px 0;
        &__wrapper {
            flex-direction: column;
            align-items: center;
            margin-top: 15px;
        }
        &__item {
            max-width: 390px;
            margin-top: 40px;
        }
        &__subtitle {
            margin-top: 10px;
            font-size: 19px;
        }
        &__descr {
            margin-top: 15px;
            font-size: 17px;
            }
    }
    .feed {
        padding-bottom: 40px;
        &__item {
            flex-direction: column;
            img {
                width: 25%;
            }
        }
        &__text {
            margin-left: 20px;
            margin-right: 10px;
        }
    }
    .catalog {
        &__tab {
            font-size: 10px;
        }
    }
    .carousel{
        &__inner img {
        width: 80%;
        }
    }
}