@media ( max-width: 991px  ){
    .container {
        max-width: 850px;
    }
    .consultation {
        min-height: 600px;
        padding: 50px 0;
    }
}

@media ( max-width: 767px  ) {
    .container {
        max-width: 720px;
    }
    .promo {
        &__wrapper {
            margin-top: 40px;
        }
        &__header {
            margin-top: 15px;
            font-size: 30px;
        }
        &__subheader {
            margin-top: 0;
            font-size: 17px;
        }
        &__link {
            font-size: 15px;
        }
        &__official{
            display: none;
        }
    }
    .header {
        &__official span {
                font-size: 17px;
        }
        &__phone {
            font-size: 17px;
        }

        }
    .button_main {
        width: 250px;
        height: 40px;
    }
    .advantages {
        &__item {
            max-width: 207px;
        }
        &__subtitle {
            font-size: 16px;
        }
        &__descr {
            font-size: 13px;
            }
        }
    .title {
        font-size: 27px;
        }
    .consultation__descr {
        margin-top: 60px;
    }
}

@media ( max-width: 575px  ){
    .container {
        max-width: 500px;
    }
    .header {
        &__official {
            display: none;
        }
    }
    .header {
        &__phone {
            font-size: 16px;
        }

        }
    .button {
        font-size: 11px;
    }
    .promo {
        &__header {
            font-size: 25px;
        }
        &__subheader {
            font-size: 16px;
        }
        &__link {
            margin-top: 40px;
        }  
        &__icons {
            width: 390px;
        }
        &__official {
            display: block;
        }
    }
    .title {
        font-size: 25px;
        }
    .advantages {
        padding: 45px 0;
        &__wrapper {
            flex-direction: column;
            align-items: center;
            margin-top: 15px;
        }
        &__item {
            max-width: 390px;
            margin-top: 40px;
        }
        &__subtitle {
            margin-top: 10px;
            font-size: 19px;
        }
        &__descr {
            margin-top: 15px;
            font-size: 17px;
            }
    }
}