@import 'libs/bootstrap-reboot.min';
@import 'libs/font';
@import 'libs/slick';
@import 'libs/animate';

@import 'base/variables';
@import 'base/mixin';
@import 'base/animations';


* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}
.container {
    position: relative;
    max-width: 950px;
    margin: 0 auto;
    padding: 0 15px;
}


@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/titles';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'blocks/feed';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'blocks/pageup';


@import 'base/media';