.feed {
    padding-bottom: 80px;
    &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
    }
    &__img {
        display: block;
        width: 50%;
    }
    &__text {
        margin-left: 60px;
        margin-right: 60px;
    }
    &__subtitle {
        font-size: 18px;
        font-weight: 700;
        text-align: left;
        color: #0d0d0d;
    }
    &__count {
        margin-top: 11px;
        font-size: 14px;
        font-weight: 300;
        text-align: left;
        color: #646464;
    }
    &__descr {
        margin-top: 19px;
        line-height: 20px;
        font-size: 16px;
        font-weight: 300;
        text-align: left;
        color: #0d0d0d;
    }


}