.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	&__logo {
		max-width: 250px;
		img {
			width: 80%;
		}
		}
	&__official {
		font-size: 12px;
		font-weight: 500;
		text-align: center;
		color: #ffffff;
		span {
			display: block;
			font-size: 18px;
		}
		
		}
	&__phone {
		display: block;
		font-size: 18px;
		font-weight: bold;
		color: #ffffff;
		text-decoration: none;
		&:hover {
			color: #ffffff;
		}
	}
	&__contacts {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}
}